@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

*{
    margin: 0;
    pad: 0;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(12, 12, 12, 0.8);
    
    
}


.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 10s;
    
}

@keyframes zoom {
    
    0%{
     transform: scale(1.3);   
    }
    100%{
     transform: scale(1);   
    }
 }

.banner {

    position: absolute;
    top: 30%;
    left: 15%;


}

.banner h1{
    color: #ffebcd;
    font-size: 3.5rem ;
    font-family: "Baloo Da 2" , serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5 forwards;
    opacity: 0;
    
    
}

.banner p{
    font-family:"Josefin Slab" , serif;
    font-weight: 250;
    color: seashell;
    font-size: 2rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7 forwards;
    opacity: 0;
    
}

.banner button{

    text-transform: uppercase;
    font-family: "Muli" , serif;
    color: #ffffffe8;
    letter-spacing: .1;
    border-radius: 5px;
    cursor: pointer;
    background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4d1e35, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding: 1rem 3rem;
border: none;
animation: moveBanner 1s 0.9 forwards;
opacity: 0;


}

.banner button:hover{
    opacity: 0.8;
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0)  rotateY(0);
        opacity: 1;
        
    }
    
} 


