@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none ;
}
:root{
    --font-pr-primary: "Baloo Da 2" , serif;
    --font-secundary: "Josefin Slab" , serif;
    --font-action: "Muli" , serif;
}

.hamburguer{
  /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}

.show-menu .hamburguer{
    right: 16rem;
}


.line{
    transition: transform 1s;
    width: 100%;
    height: .1rem;
    background-color: seashell;
    box-shadow: 0.1rem 0.1rem 1px #000000
    
    
}

.show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);

}
.show-menu #line2 {
    opacity: 0;
    visibility:hidden ;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);

}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height:2rem ;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800080;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
    
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #800080;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(12, 12, 12, 0.8);
    
    
}


.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 10s;
    
}

@keyframes zoom {
    
    0% {
     transform: scale(1.3);   
    }
    100%{
     transform: scale(1);   
    }
 }

.banner {

    position: absolute;
    top: 30%;
    left: 15%;


}
.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-
  );
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}


.banner p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
    
}

.banner button{

    text-transform: uppercase;
    font-family: var(--font-action);
    color: #ffffffe8;
    letter-spacing: 0.1;
    border-radius: 5px;
    cursor: pointer;
    background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4d1e35, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding: 1rem 3rem;
border: none;
animation: moveBanner 1s 0.9 forwards;
opacity: 0;


}

.banner button:hover{
color:rgb(175, 238, 234) ;
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0)  rotateY(0);
        opacity: 1;
        
    }
    
    
} 

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .8s;

}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.menu-item{
    text-align: center;
    margin-bottom: 0u.5rem;
}

.menu-link{
font-family: var(--font-action);
font-size: 2rem;
color: #555;
transition: color 1s;

}

.menu-link:hover{
    color: rgb(143, 20, 143);
}
.social-midia{
   /*background-color: rgba(255, 0, 0, 0.507); */
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    

}
.social-midia i{
    /*background-color: aqua; */   
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    transition: color 1s;



}

.social-midia i:hover{
   color: rgb(161, 92, 226);
}